<!DOCTYPE html>
<html>
<head>
	<title>ながのcakeオレンジ</title>
</head>
<body>
	<div class="body">
		<div class="container">
			<div class="row">
				<h1>購入情報入力</h1>
				<%= form_for(@order, url: public_order_product_path(@order)) do |f| %>
					<h2>支払方法</h2>
						<div class="radio">
							<P><%= f.radio_button :pay_method, "1" %>クレジットカード</P>
							<p><%= f.radio_button :pay_method, "2" %>銀行振込</p>
						</div>
					<h2>お届け先</h2>
						<div class="radio">
							<P>
								<%= f.radio_button :address_choice, "1" %>
								ご自身の住所<br>
								<div class="position">
									〒<%= @order.user.postal_code %>
									<%= @order.user.address %><br>
									<%= @order.user.first_name %>
									<%= @order.user.last_name %>
								</div>
							</P>

							<p>
								<%= f.radio_button :address_choice, "2" %>
								登録済住所から選択
								<div class="position">
									<%= f.collection_select :deli_address_id, @user.deli_addresses, :id, :destination, {},{:class => "select1"} %>
								</div>
							</p>

							<p>
								<%= f.radio_button :address_choice, "3" %>
								新しいお届け先
								<div class="">
									<table>
										<tbody>
											<tr>
												<td width=100><%= f.label "郵便番号" %></td>
												<td width=600><%= f.text_field :postal_code, class: "tabletext" %>ハイフンなし</td>
											</tr>
											<tr>
												<td><%= f.label "住所" %></td>
												<td><%= f.text_field :address, class: "address" %></td>
											</tr>
											<tr>
												<td><%= f.label "宛名" %></td>
												<td>
													<%= f.text_field :first_name, class: "tabletext" %>
													<%= f.text_field :last_name, class: "tabletext" %>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</p>
						</div>
					<div class="col-xs-offset-4">
						<%= f.submit "確認画面へ進む", class: "btn btn-primary" %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</body>
</html>