<!DOCTYPE html>
<html>
<head>
	<title>ながのcakeオレンジ</title>
</head>
<body>
	<div class="body">
		<div class="container">
			<div class="row">
				<div class="col-xs-6">
					<h1>注文情報確認</h1>
					<table>
						<thead>
							<tr>
								<th>商品名</th>
								<th>単価(税込)</th>
								<th>数量</th>
								<th>小計</th>
							</tr>
						</thead>
						<tbody>
							<% @order.order_product.each do |order_product| %>
							<tr>
								<td>
									<%= attachment_image_tag order_product.product, :product_image_id, format: 'jpeg', fallback: "no_image.jpg" %>
									<%= order_product.product.product.product_name %>
								</td>
								<td><%= order_product.product.price %></td>
								<td><%= order_product.quantity %></td>
								<td><%= order_product.quantity.to_i * @order_product.total.to_i %></td>
							</tr>
							<% end %>
						</tbody>
					</table>
				</div>
				<div class="col-xs-3">
					<table>
						<tbody>
							<tr>
								<th>送料</th>
								<td><%= @order.postage %></td>
							</tr>
							<tr>
								<th>商品合計</th>
								<td></td>
							</tr>
							<tr>
								<th>請求金額</th>
								<td></td>
							</tr>
						</tbody>
					</table>
				</div>
				<h1>支払方法</h1>
				<%= @order.pay_method %>
				<h1>お届け先</h1>
					<% if @order.deli_address == "null" %>
						<%= @user.address %>
					<% else %>
						<%= @order.deli_address.address %>
					<% end %>
				<%= link_to "購入を確定する", public_order_products_path %>
			</div>
		</div>
	</div>
</body>
</html>