<!DOCTYPE html>
<html>
<head>
	<title>ながのcakeオレンジ</title>
</head>
<body>
	<div class="body">
		<div class="container">
			<div class="row">
				<div class="col-xs-2">
					<table>
						<tbody>
							<tr>
								<th>ジャンル検索</th>
								<% @genres.each do |genre| %>
									<td>
										<% link_to products_path(@genre.id) do %>
											<%= genre.genre_name %>
										<% end %>
									</td>
								<% end %>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-8">
					<h1><%= @genre.genre_name %></h1>
					<p>全<%= @genre.products.count %>件</p>
					<div class="col-xs-3">
						<% @genre.products.each do |product| %>
							<%= link_to product_show_path(product) do %>
								<%= attachment_image_tag product, :product_image_id, format: 'jpeg', fallback: "no_image.jpg" %>
								<%= product.product_name %>
								¥<%= product.price.round(0)  %>
							<% end %>
						<% end %>
						<%= paginate @genre.products, class: "paginate" %>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>