<!DOCTYPE html>
<html>
<head>
	<title>ながのcakeオレンジ</title>
</head>
<body>
	<div class="body">
		<div class="container">
			<div class="row">
				<h1>注文詳細画面</h1>

				<div class="field row">
					<label for="full-name">購入者</label>
					<%= @order.user.fullname %>
				</div>

				<div class="field row">
					<label for="deli-address">配送先</label>
					<%= @order.postal_code %>
					<%= @order.address %>
					<%= @order.first_name %>
					<%= @order.last_name %>
				</div>

				<div class="field row">
					<label for="pay-method">支払方法</label>
					<%= @order.pay_method %>
				</div>
				<%= form_for [:admin, @order] do |f| %>
					<div class="field row">
						<label for="status">注文ステータス</label>
						<%= f.select :status, ['入金待ち', '入金確認', '製作中', '発送準備中', '発送済み'] %>
						<%= f.submit "更新" , class: "btn btn-primary" %>
					</div>
					<div class="col-xs-6">
						<table>
							<tr>
								<td>
									<table class="table" height="250" width="100">
										<thead>
											<tr>
												<th>商品名</th>
												<th>単価(税込)</th>
												<th>数量</th>
												<th>小計</th>
											</tr>
										</thead>
										<tbody>
											<% @order.order_products.each do |order_product| %>
												<tr>
													<td><%= order_product.product.product_name %></td>
													<td><%= order_product.quantity %></td>
													<td>
														<%= number_to_currency(order_product.total.to_i * 1.1, :unit => "", :precision => 0) %>
													</td>
													<td>
														<%= number_to_currency(order_product.total.to_i * 1.1 * order_product.quantity, :unit => "", :precision => 0) %>
													</td>
												</tr>
											<% end %>
										</tbody>
									</table>
								</td>
								<td>
									<table class="table" height="250" width="100">
										<thead>
											<th>製作ステータス</th>
										</thead>
										<tbody>
											<%= f.fields_for :order_products do |order_product| %>
												<tr>
													<td>
														<%= order_product.select  :status, ['着手不可', '製作待ち', '製作中', '製作完了'] %>
													</td>
												<tr>
											<% end %>
										</tbody>
									</table>
								</td>
							</tr>
						</table>
					</div>
				<% end %>
				<div class="">

				</div>
			</div>
		</div>
	</div>
</body>
</html>