<div class="row">
	<div class="box100">
			<h2>パスワード再設定</h2>
			<div class="password-box">
				<span class="password-text">以下の欄に登録したメールアドレスをご入力ください。<br>パスワード再設定について、メールでご連絡いたします。</span>
			</div>
			

		<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
		  <%= render "devise/shared/error_messages", resource: resource %>

		  <div class="form-group">
		    <%= f.label "メールアドレス" %>
		    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
		  </div>

		  <div class="actions">
		    <%= f.submit "パスワード再設定メールを送信" , class: "btn btn-primary" %>
		  </div>
		<% end %>


		<div class ="login-text">
	      <span class="ppps">会員の方はこちらからログイン</span>
	    </div>

	    <div class="login-link">
      		<span class="underr"><%= link_to 'こちら',user_session_path %></span> ログインしてください。
    	</div>
	
		<div class ="signup-text">
	      <span class="ppps">登録がお済みでない方</span>
	    </div>

	    <div class="signup-link">
      		<span class="underr"><%= link_to 'こちら', new_user_registration_path %></span> から新規登録を行ってください。
    	</div>
	</div>
</div>