
	<% if @deli_addresses.errors.any? %>
	  <div class="alert alert-warning">
	    <ul>
	      <li><%= pluralize(@deli_addresses.errors.count, "error") %> prohibited this obj from being saved:</li>
	      <% @deli_addresses.errors.full_messages.each do |message| %>
	        <li><%= message %></li>
	      <% end %>
	    </ul>
	  </div>
	<% end %>

	<div class="container">
		<div class="row">
			<div class="col-xs-7">
		<strong>配送先編集</strong>

		<%= form_for(@deli_addresses, url:"/public/deli_addresses/#{@deli_addresses.id}") do |f| %>
		<table class="table-bordered">


			<tr>
				<td class="col-xs-3">郵便番号</td>
				<td class="col-xs-7"><%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code" %>
		        </td>
			</tr>

		    <tr>
				<td class="col-xs-3">住所</td>
				<td class="col-xs-7"><%= f.text_field :address, :size=>"50",  autofocus: true, autocomplete: "address" %>
		        </td>
			</tr>

			<tr>
				<td class="col-xs-3">宛名</td>
				<td class="col-xs-7"><%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %>
		    <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" %>
			　　</td>
			</tr>

			 </table>
		    <%= f.submit '編集する',class: "btn btn-primary"  %>

		<% end %>
	</div>
	</div>
	</div>