<div class="row">
  <div class="box100">
    <div class="ppp">
      <span class="ppps">会員の方はこちらからログイン</span>
    </div>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <table class="table-borderless table100">
      <tr>
        <div class="field">
          <td><%= f.label 'メールアドレス' %></td>
          <td class="tdd-right"><%= f.email_field :email,:size=>"50", autofocus: true, autocomplete: "email" %></td>
        </div>
      </tr>
      <tr>
        <div class="field">
          <td><%= f.label 'パスワード' %></td>
          <td class="tdd-right"><%= f.password_field :password,:size=>"50", autocomplete: "current-password" %></td>
        </div>
      </tr>
    </table>

    <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
    <% end %>
    <div class="pass">
      <span class="underr"><%= link_to '=>パスワードを忘れた方はこちら', new_password_path(resource_name) %></span>
    </div>

    <div class="actions">
      <%= f.submit "ログイン",  class: "btn btn-primary" %>
    </div>
    <% end %>

    <div class ="pppp">
      <span class="ppps">登録がお済みでない方</span>
    </div>
    <div class="ppppp">
      <span class="underr"><%= link_to 'こちら', new_user_registration_path(resource_name) %></span> から新規登録を行ってください。
    </div>
  </div>
</div>