<h1>商品一覧画面</h1>

<table>
	<thead>
		<tr>
			<th>商品ID</th>
			<th>商品名</th>
			<th>税抜き価格</th>
			<th>ジャンル</th>
		</tr>
	</thead>
	<tbody>
		<% @products.each do |product| %>
		<tr>
			<td><%= product.id %></td>
			<td><%= link_to product.product_name, admin_product_path(product.id) %></td>
			<td><%= product.price %></td>
			<td><%= product.status %></td>
		</tr>
		<% end %>
		<%= paginate @products, class: "paginate" %>
	</tbody>
</table>