<body>
	<div class="body">
		<div class="container">
			<h4>注文情報確認</h4>
			<div class="row">
				<div class="col-xs-9">
					<table class="table-bordered tables">
						<tbody>
							<tr>
								<td class="td-top">商品名</td>
								<td class="td-top">単価(税込)</td>
								<td class="td-top">数量</td>
								<td class="td-top">小計</td>
							</tr>
							<% @order.order_products.each do |order_product| %>
								<tr>
									<td>
										<%= attachment_image_tag order_product.product, :product_image, :fill, 100, 100,  format: 'jpeg', fallback: "no_image.jpg" %>
										<%= order_product.product.product_name %>
									</td>
									<td><%= (order_product.total.to_i * 1.1).round(0) %></td>
									<td><%= order_product.quantity %></td>
									<td>
										<%= order_product.quantity.to_i * (order_product.total.to_i * 1.1).round(0) %>
									</td>
								</tr>
							<% end %>
						</tbody>
					</table>
				</div>
				<div class="col-xs-3">
					<table class="table-bordered tables2">
						<tbody>
							<tr>
								<td class="td-left">送料</td>
								<td class="td-right"><%= @order.postage %></td>
							</tr>
							<tr>
								<td class="td-left">商品合計</td>
								<td class="td-right">
									<%= @total.inject{|sum, n| sum + n } %>
								</td>
							</tr>
							<tr>
								<td class="td-left">請求金額</td>
								<td class="td-right">
									<%= @total.inject{|sum, n| sum + n } + @order.postage.to_i %>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="row box1">
				<strong class="check_sg">支払方法</strong>
				<span class="p_method"><%= @order.pay_method %></span>
			</div>
			<div class="row box2">
				<strong class="text7">お届け先</strong>
				<p class="user_info">〒<%= @order.postal_code %>
					<%= @order.address%><br>
					<%= @order.first_name %>
					<%= @order.last_name %></p>
				</div>
				<div class="row">
					<p class="check-btn"><%= link_to "購入を確定する", public_order_products_path,  class: "btn btn-primary"  %></p>
				</div>
			</div>
		</div>
	</div>
</body>