<!DOCTYPE html>
<html>
<head>
	<title>ながのcakeオレンジ</title>
</head>
<body>
	<div class="body">
		<div class="container">
			<div class="row">
				<div class="">
					<h1>注文履歴一覧</h1>
					<table>
						<thead>
							<th>注文日</th>
							<th>配送先</th>
							<th>注文商品</th>
							<th>支払金額</th>
							<th>ステータス</th>
							<th>注文詳細</th>
						</thead>
						<tbody>
							<td><%= @order.order_product.created_at %></td>
							<td>
								<%= @order.deli_address.postalcode %>
								<%= @order.deli_address.address %>
								<%= @order.deli_address.first_name %>
								<%= @order.deli_address.last_name %>
							</td>
							<td>
							<% @order.order_products.each do |order_product| %>
								<%= @order.order_products.product.product_name %>
							<% end %>
							</td>
							<td><%= @order.payment %></td>
							<td><%= @order.status %></td>
							<td><%= link_to "表示する" %></td>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>