<!DOCTYPE html>
<html>
<head>
	<title>ながのcakeオレンジ</title>
</head>
<body>
	<div class="body">
		<div class="container">
			<div class="row">
				<div class="">
					<h1>注文履歴一覧</h1>
					<table class="table-bordered">
						<thead>
							<tr>
							<th>注文日</th>
							<th>配送先</th>
							<th>注文商品</th>
							<th>支払金額</th>
							<th>ステータス</th>
							<th>注文詳細</th>
						</tr>
						</thead>
						<tbody>
							<% @orders.each do |order| %>
							<tr>
							<td><%= order.created_at.strftime('%Y/%m/%d') %></td>
							<td>
								<p><%= order.postal_code %></p>
								<p><%= order.address %></p>
								<p><%= order.fullname %></p>
							</td>
							<td>
							<% order.order_products.each do |order_product| %>
								<p><%= order_product.product.product_name %></p>
							<% end %>
							</td>
							<td><%= order.payment %></td>
							<td><%= order.status %></td>
							<td><%= link_to "表示する",public_order_path(order.id) %></td>
						</tr>
						<% end %>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>