<!DOCTYPE html>
<html>
<head>
	<title>ながのcakeオレンジ</title>
</head>
<body>

	<div class="body">
		<div class="container">
			<h3>注文履歴詳細</h3>
			<div class="row">
				<div class="col-xs-6">
					<strong>注文情報</strong>
					<table class="table-bordered" id="order-details">
						<thead>
							<th></th>
							<th></th>
						</thead>
						<tbody>
							<tr>
								<td class="order-details-left">注文日</td>
								<td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
							</tr>
							<tr>
								<td class="order-details-left">配送先</td>
								<td>
									<%= @order.postal_code %><br>
									<%= @order.address %><br>
									<%= @order.fullname %>
								</td>
							</tr>
							<tr>
								<td class="order-details-left">支払方法</td>
								<td><%= @order.pay_method %></td>
							</tr>
							<tr>
								<td class="order-details-left">ステータス</td>
								<td><%= @order.status %></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="col-xs-3">
					<strong>請求情報</strong>
					<table class="table-bordered"  id="order-details2">
						<tbody>
							<tr>
								<td class="order-details-left">商品合計</td>
								<td><%= @total.inject{|sum, n| sum + n } %></td>
							</tr>
							<tr>
								<td class="order-details-left">配送料</td>
								<td><%= @order.postage %></td>
							</tr>
							<tr>
								<th class="order-details-left">ご請求額</th>
								<td><%= @total.inject{|sum, n| sum + n } + 800 %></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-7">
					<p class="text1"><strong>注文内容</strong></p>
					<table class="table-bordered"  id="order-details">
						<tr>
							<td class="order-details-left">商品</td>
							<td class="order-details-left">単価(税込)</td>
							<td class="order-details-left">個数</td>
							<td class="order-details-left">小計</td>
						</tr>

						<% @order.order_products.each do |order_product| %>
						<tr>
							<td><%= order_product.product.product_name %></td>
							<td><%= (order_product.total.to_i * 1.1).round(0) %></td>
							<td><%= order_product.quantity %></td>
							<td><%= (order_product.total.to_i * 1.1).round(0) * order_product.quantity.to_i %></td>
						</tr>
						<% end %>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
</html> 