<!DOCTYPE html>
<html>
<head>
	<title>ながのCAKEオレンジ</title>
</head>
<body>
	<div class="field row"><label for="user-id">会員ID</label>
	<%= @user.id %></div>

	<%= form_for(@user) do |f| %>
		<div class="field row">
			<%= f.label "氏名" %>
		</div>

		<div class="field row">
			<%= f.label "フリガナ" %>
		</div>

		<div class="field row">
			<%= f.label "郵便番号" %>
			<%= f.text_field :postal_code %>
		</div>

		<div class="field row">
			<%= f.label "住所" %>
			<%= f.text_area :address %>
		</div>

		<div class="field row">
			<%= f.label "電話番号" %>
			<%= f.number_field :tel_num %>
		</div>

		<div class="field row">
			<%= f.label "メールアドレス" %>
			<%= f.email_field :email %>
		</div>

		<div class="field row">
			<%= f.label "会員ステータス" %>
		</div>

		<%= f.submit "変更を保存する" %>
	<% end %>

</body>
</html>