<body>
	<div class="body">
		<div class="container">
			<% if @user.errors.any? %>
			<div class="alert alert-warining">
				<ul>
					<li><%= pluralize(@user.errors.count, "error") %> prohibited this obj from being saved:</li>
					<%= @user.errors.full_messages.each do |message| %>
					<li><%= message %></li>
					<% end %>
				</ul>
			</div>
			<% end %>

			<div class="field row">
				<label for="user-id">会員ID</label>
				<%= @user.id %>
			</div>

			<%= form_for [:admin, @user] do |f| %>
			<div class="field row">
				<div class="box">
					<div class="form-label">
						<%= f.label "氏名" %>
					</div>
					<div class="block">
						<%= f.text_field :first_name %>
						<%= f.text_field :last_name %>
					</div>
				</div>
			</div>

			<div class="field row">
				<div class="box">
					<div class="form-label">
						<%= f.label "フリガナ" %>
					</div>

					<div class="block">
						<%= f.text_field :kana_first_name %>
						<%= f.text_field :kana_last_name %>
					</div>
				</div>
			</div>

			<div class="field row">
				<div class="box">
					<div class="form-label">
						<%= f.label "郵便番号" %>
					</div>
					<div class="block">
						<%= f.text_field :postal_code %>
					</div>
				</div>
			</div>

			<div class="field row">
				<div class="box">
					<div class="form-label">
						<%= f.label "住所" %>
					</div>
					<div class="block">
						<%= f.text_area :address %>
					</div>
				</div>
			</div>

			<div class="field row">
				<div class="form-label">
					<%= f.label "電話番号" %>
				</div>
				<div class="block">
					<%= f.text_field :tel_num %>
				</div>
			</div>

			<div class="field row">
				<div class="form-label">
					<%= f.label "メールアドレス" %>
				</div>
				<div class="block">
					<%= f.email_field :email %>
				</div>
			</div>

			<div class="field row">
				<div class="form-label">
					<%= f.label "会員ステータス" %>
				</div>
				<div class="block">
					<%= f.radio_button :deleted_at, "有効" %>
					<%= f.label :deleted_at, '有効'%>

					<%= f.radio_button :deleted_at, "退会済み" %>
					<%= f.label :deleted_at, "退会済み" %>
				</div>
			</div>

			<div class="field row">
				<%= f.submit "変更を保存する" , class: "btn btn-primary" %>
			</div>
			<% end %>
		</div>
	</div>
</body>