<!DOCTYPE html>
 <html>
  <head>
   <title>ながのcakeオレンジ</title>
  </head>
   <body>
	<div class="container">
          <h3>マイページ</h3>
	　　　  <div class="row">
		     <p>
			  <strong>登録情報</strong>
			  <%= link_to "編集する", edit_public_user_path(@user),  class: "btn btn-primary" %>
			  <%= link_to "パスワードを変更する", edit_user_registration_path(@user),  class: "btn btn-primary" %>
		     </p>
	　　　  </div>
	        <div class="row">
		      <table class= "table-bordered">
               <tr>
				<td class="col-xs-3">氏名</td>
				<td class="col-xs-7"><%= @user.fullname %></td>
			   </tr>
               <tr>
				<td class="col-xs-3">カナ</td>
				<td class="col-xs-7"><%= @user.kana_fullname %></td>
			   </tr>
               <tr>
				<td class="col-xs-3">郵便番号</td>
				<td class="col-xs-7"><span>〒</span><%= @user.postal_code %></td>
			   </tr>
               <tr>
				<td class="col-xs-3">住所</td>
				<td class="col-xs-7"><%= @user.address %></td>
			   </tr>
               <tr>
				<td class="col-xs-3">電話番号</td>
				<td class="col-xs-7"><%= @user.tel_num %></td>
			   </tr>
               <tr>
				<td class="col-xs-3">メールアドレス</td>
				<td class="col-xs-7"><%= @user.email %></td>
			   </tr>
              </table>
	</div>
	<h3></h3>
	<div class="row">
		     <p>
			  <strong>配送先</strong>
			  <%= link_to "一覧を見る", public_deli_addresses_path,  class: "btn btn-primary" %>
		     </p>
	　　　  </div>
	<div class="row">
		     <p>
			  <strong>注文履歴</strong>
			  <%= link_to "一覧を見る", public_orders_path,  class: "btn btn-primary" %>
		     </p>
	　　　  </div>
</div>
	</body>
	</html>