
<strong>LOGO</strong>

<nav>
  <ul>
    <% if user_signed_in? %>
    <li>

        <%= link_to user_path(current_user.id) do %>
        <span class="glyphicon glyphicon-home" aria-hidden="true">
         <%= 'Home ' %></span>
      </li>
      <% end %>
      <li>
        <!-- ↓以下のコードは、5章で正しいroutingに書き直します。 -->
        <%= link_to users_path do %>
        <span class="glyphicon glyphicon-user" aria-hidden="true">
         <%= 'Users ' %></span>
      </li>
      <% end %>
    <li>
        <!-- ↓以下のコードは、5章で正しいroutingに書き直します。 -->
        <%= link_to books_path do %>
        <span class="glyphicon glyphicon-book" aria-hidden="true">
         <%= 'Books ' %></span>
      </li>
      <% end %>
      <li>
        <!-- ↓以下のコードは、5章で正しいroutingに書き直します。 -->
        <%= link_to destroy_user_session_path, method: :delete do %>
        <span class="glyphicon glyphicon-log-out" aria-hidden="true">
         <%= 'logout ' %></span>
      </li>
      <% end %>
     
      
    <% else %>
     <li>
        <!-- ↓以下のコードは、5章で正しいroutingに書き直します。 -->
        <%= link_to root_path do %>
        <span class="glyphicon glyphicon-home" aria-hidden="true">
         <%= 'Home' %></span>
      </li>
      <% end %>
      
   <li>
        <!-- ↓以下のコードは、5章で正しいroutingに書き直します。 -->
        <%= link_to home_about_path do %>
        <span class="glyphicon glyphicon-link" aria-hidden="true">
         <%= 'About' %></span>
      </li>
      <% end %>
      <li>
        <!-- ↓以下のコードは、5章で正しいroutingに書き直します。 -->
        <%= link_to new_user_registration_path do %>
        <span class="glyphicon glyphicon-edit" aria-hidden="true">
         <%= 'Sign up' %></span>
      </li>
      <% end %>
      <li>
        <!-- ↓以下のコードは、5章で正しいroutingに書き直します。 -->
        <%= link_to new_user_session_path do %>
        <span class="glyphicon glyphicon-log-in" aria-hidden="true">
         <%= 'login' %></span>
      </li>
      <% end %>
      <% end %>
  </ul>
</nav>
</div>
</header>

    <%= yield %>

  </body>
  <footer>
  <div class="container">
     <div class="row">  
         <div class="col-md-9"></div>
<div class="col-md-3">
    CopyRight Infratop.inc
  </div>
  </footer>
  

</html>
