<!DOCTYPE html>
<html>
  <head>
    <title>Orange</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="header" id="header">
        <div class="container">
          <div id="slidemenu">
              <% if admin_signed_in? %>

            <ul class="nav navbar-nav navbar-right" data-hover="dropdown" data-animations="zoomIn fadeIn fadeInUp fadeIn">
              <div class="navbar-text navbar-left"><span class="navbar-title">logo</span></div>
                <li class="">
                  <%= link_to "商品一覧", admin_products_path %>
                </li>
                <li class="">
                  <%= link_to "会員一覧", admin_users_path %>
                </li>
                <li class="">
                  <%= link_to "注文履歴一覧", admin_orders_path %>
                </li>
                <li class="">
                  <%= link_to "ジャンル管理", admin_genres_path %>
                </li>
                <li class="">
                  <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
                </li>
              <% else %>
              <% end %>
            </ul>
          </div>
        </div>
    </div>
    <%= yield %>
  </body>
</html>
